<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.tset.mapper.BbsMapper">

    <insert id="saveRow"
            parameterType="com.example.demo.tset.domain.BbsRequstDTO">
        INSERT INTO TB_BBS(TITLE, CONTENT)
        VALUES(#{title}, #{content})
    </insert>

    <select id="selectRow" resultType="com.example.demo.tset.domain.BbsResponseDTO">
        SELECT ID, TITLE, CONTENT
        FROM TB_BBS
    </select>

    <!-- getRow --> 

    <select id="getRow"
        parameterType="com.example.demo.tset.domain.BbsRequstDTO"
        resultType="com.example.demo.tset.domain.BbsResponseDTO">
        SELECT ID, TITLE, CONTENT
        FROM TB_BBS
        WHERE ID= #{id}
    </select>

    <!-- deleteRow --> 

    <delete id="deleteRow"
        parameterType="com.example.demo.tset.domain.BbsRequstDTO">
        DELETE FROM TB_BBS
        WHERE ID = #{id}
    </delete>

    <!-- updateRow --> 

    <update id="updateRow">
        UPDATE TB_BBS
        SET TITLE = #{title}, CONTENT = #{content}
        WHERE ID = #{id}
    </update>




    <!-- saveComment --> 

    <insert id="saveComment" parameterType="com.example.demo.tset.domain.comment.CommentRequestDTO">
        INSERT INTO tb_comment (bbsid, content)
        VALUES (#{bbsid}, #{content})
    </insert>

    <!-- commentSelectRow --> 

    <select id="commentSelectRow" parameterType="java.util.HashMap" resultType="com.example.demo.tset.domain.comment.CommentResponseDTO">
        SELECT ID, CONTENT, BBSID
        FROM   TB_comment
        WHERE BBSID = #{id};
    </select>
</mapper>